footer {
  margin-top: 2rem;
  background: #343a40;
  color: #fff;
}
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6,
footer p,
footer q,
footer span {
  color: #fff;
}
footer .footer-copyright {
  background: #080808;
}
