@require 'variables.styl'

$color__main = #7955ff
$color__helpers--dark = #141414 
$color__helpers--light = rgb(240, 240, 240)
$color__helpers--ok = rgb(0, 198, 255) // RGB: r0, g198, b255 / #00c6ff
$color__helpers--alert = rgb(251, 99, 77) 
$color__helpers--notice = rgb(247, 197, 0)  
$color__helpers--success = rgb(151, 209, 41) 
$color__main--darkest = #372873
$color__main--dark = #583eb9
$color__main--medium = #7955ff
$color__main--light = #9176fe
$color__main--lightest = #a897fe
