@require 'variables.styl'

$color__main = #7955ff
$color__helpers--dark = #141414 
$color__helpers--light = rgb(240, 240, 240)
$color__helpers--ok = rgb(0, 198, 255) // RGB: r0, g198, b255 / #00c6ff
$color__helpers--alert = rgb(251, 99, 77) 
$color__helpers--notice = rgb(247, 197, 0)  
$color__helpers--success = rgb(151, 209, 41) 
$color__main--darkest = #372873
$color__main--dark = #583eb9
$color__main--medium = #7955ff
$color__main--light = #9176fe
$color__main--lightest = #a897fe

// sections
body
  background-color $color__main--lightest
  // background-image url(./platformoftrust-bgtesti-v2-2019-03-21.svg)
  background-image url(./bg-repeat.svg)
  background-size cover
  background-repeat no-repeat
  background-position top
  color $color__helpers--light
  
// #___gatsby
  
  // Typo-colors
  
a:link
  color white
a:visited
  color  darken( white, 4%)
a:hover
  color  darken( $color__helpers--light, 10%)
a:active
  color  darken( $color__helpers--light, 20%)
pre, code
  background #333
  color white
  code, code span
    background transparent
    color white
code
  background $color__main--medium
  color white

// Section colors   
header
  background transparent
  .menus
    @media (max-width $mobi-navi-breakpoint)
      color $color__main
      a.nav-link
        color $color__main
      
.jumbotron
  background-color alpha($color__main, 0.4) !important
.page-content
  background-color transparent // $color__helpers--light
  *, h1, h2, h3, h4, h5, h6, p, ul, li, strong, a:link, a:visited 
      color $color__helpers--light
  &.dark-bg
    background-color alpha($color__main--darkest, 0.8)
    *, h1, h2, h3, h4, h5, h6, p, a:link, a:visited 
      color $color__helpers--light
    
  *
    color $color__helpers--dark
  h1 
    color $color__main
  a:link
    color $color__main--medium
  a:visited
    color  $color__main--dark
  a:hover
    color  $color__main--dark
  a:active
    color  $color__main--dark
    
footer
  background-color $color__main--darkest
  background-color alpha($color__main--darkest, 0.6)
  p 
    color $color__helpers--light
    
.menu-footer
  background-color $color__main--darkest
  h5
    color white

  

// Components colors
.blog-post-preview, .blog-post-content
  color white
  p 
    color white
    
.blog-post
  *
    color white
    
.card
  // color $color__helpers--dark
  border-color $color__main
  *
    color $color__helpers--light
  .card-header
    background-color $color__main
  .card-body
    background-color white
    color $color__main--darkest
    *, h1, h2, h3, h4, h5, h6, p 
      color $color__main--darkest
    // background-color $color__main--lightest
  .card-footer
    background-color $color__main--light
    a:link
      color $color__helpers--dark
    a:visited
      color  lighten( $color__helpers--dark, 10%)
    a:hover
      color  lighten( $color__helpers--dark, 10%)
    a:active
      color  lighten( $color__helpers--dark, 20%)
      

  
