$color__main = #7955ff
$color__helpers--dark = rgb(10, 10, 10) 
$color__helpers--light = rgb(240, 240, 240)
$color__helpers--alert = rgb(251, 99, 77) 
$color__helpers--notice = rgb(247, 197, 0)  
$color__helpers--success = rgb(151, 209, 41) 
$color__main--darkest = #372873
$color__main--dark = #583eb9
$color__main--medium = #7955ff
$color__main--light = #9176fe
$color__main--lightest = #a897fe

// sections
body
  background-color $color__main--lightest
  background-image url(./platformoftrust-bgtesti-v2-2019-03-21.svg)
  background-size cover
  background-repeat no-repeat
  background-position center
  color $color__helpers--light
#___gatsby
  header
    // background-color $color__main--darkest
    // background-color alpha($color__main--darkest, 0.6)
    background transparent
  .jumbotron
    // background-color transparent
    // background-color $color__main
    background-color alpha($color__main, 0.4) !important
  .page-content
    background-color $color__helpers--light
    *
      color $color__helpers--dark
  footer
    background-color $color__main--darkest
    background-color alpha($color__main--darkest, 0.6)

  // Typo-colors
  *
    color $color__helpers--light
  
  a:link
    color $color__helpers--light
  a:visited
    color  darken( $color__helpers--light, 10%)
  a:hover
    color  darken( $color__helpers--light, 10%)
  a:active
    color  darken( $color__helpers--light, 20%)
  .card
    // color $color__helpers--dark
    border-color $color__main
    *
      color $color__helpers--light
    .card-header
      background-color $color__main
    .card-body
      background-color $helpers--light
      p 
        color $color__main--darkest
      // background-color $color__main--lightest
    .card-footer
      background-color $color__main--light
    // a:link
    //   color $color__helpers--dark
    // a:visited
    //   color  lighten( $color__helpers--dark, 10%)
    // a:hover
    //   color  lighten( $color__helpers--dark, 10%)
    // a:active
    //   color  lighten( $color__helpers--dark, 20%)
    
  pre, code
    background #333
    color white