body {
  background-color: #a897fe;
  background-image: url("./platformoftrust-bgtesti-v2-2019-03-21.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #f0f0f0;
}
#___gatsby header {
  background: transparent;
}
#___gatsby .jumbotron {
  background-color: rgba(121,85,255,0.4) !important;
}
#___gatsby .page-content {
  background-color: #f0f0f0;
}
#___gatsby .page-content * {
  color: #0a0a0a;
}
#___gatsby footer {
  background-color: #372873;
  background-color: rgba(55,40,115,0.6);
}
#___gatsby * {
  color: #f0f0f0;
}
#___gatsby a:link {
  color: #f0f0f0;
}
#___gatsby a:visited {
  color: #d8d8d8;
}
#___gatsby a:hover {
  color: #d8d8d8;
}
#___gatsby a:active {
  color: #c0c0c0;
}
#___gatsby .card {
  border-color: #7955ff;
}
#___gatsby .card * {
  color: #f0f0f0;
}
#___gatsby .card .card-header {
  background-color: #7955ff;
}
#___gatsby .card .card-body {
  background-color: $helpers--light;
}
#___gatsby .card .card-body p {
  color: #372873;
}
#___gatsby .card .card-footer {
  background-color: #9176fe;
}
#___gatsby pre,
#___gatsby code {
  background: #333;
  color: #fff;
}
.btn-primary,
[class$=primary] {
  background-color: color__main--darkest !important;
  border-color: color__main--dark !important;
}
.btn-primary:hover,
[class$=primary]:hover {
  background-color: color__main--dark !important;
  border-color: color__main--dark !important;
}
.btn-primary:focus,
[class$=primary]:focus {
  background-color: color__main--dark !important;
  border-color: color__main--dark !important;
  box-shadow: 0 0 0 0.2rem color__main--darkest !important;
}
.btn-primary:active,
[class$=primary]:active {
  box-shadow: 0 0 0 0.2rem color__main--darkest !important;
}
.navbar-collapse .activedropdown {
  position: relative;
}
.navbar-collapse .activedropdown a:link {
  display: inline-block;
}
.navbar-collapse .activedropdown .dropdown-menu.show {
  top: 2rem;
  background-color: color__main--lightest;
}
.navbar-collapse .activedropdown .dropdown-menu.show ul {
  margin-left: 0.4rem;
  list-style: none;
}
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
html {
  font-size: 100%;
}
body,
* {
  font-family: 'Fira Sans', sans-serif;
}
#___gatsby * {
  font-family: 'Fira Sans', sans-serif;
}
.logo__header {
  width: 15rem;
  margin-bottom: 0;
}
@media (max-width) {
  .logo__header {
    max-width: 40vw;
  }
}
header,
.page-content {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}
@media (max-width: 960px) {
  header,
  .page-content {
    margin: 0 1rem;
  }
}
footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
.jumbotron {
  padding: 8rem 0;
}
#___gatsby .card {
  margin: 1rem 0.5rem 1rem 0;
  width: 100%;
  border-width: 0.8rem;
  border-style: solid;
  border-radius: 0;
}
#___gatsby .card .card-header {
  border-radius: 0;
}
#___gatsby .card .card-header h3 {
  font-size: 1rem;
}
#___gatsby .card .card-body {
  border-radius: 0;
}
#___gatsby .card .card-footer {
  border-radius: 0;
}
footer {
  clip-path: url("#clipPathSVG");
}
footer .some-link {
  display: inline-block;
  width: 32px;
  margin-right: 0.4rem;
}
footer .some-link .some-icon {
  width: 100%;
}
@media (min-width: 1240px) {
  header.wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  nav.menus {
    flex: 2;
    display: flex;
    align-items: center;
  }
  input[data-function*='swipe'],
  label[data-function*='swipe'] {
    display: none;
  }
}
@media (max-width: 1240px) {
  body {
    color: #372873;
  }
  a,
  a:visited {
    color: #372873;
  }
  header.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  nav.menus {
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: #fff;
    color: #372873;
    z-index: 100;
  }
  input[data-function*='swipe'] {
    position: absolute;
    opacity: 0;
  }
  label[data-function*='swipe'] {
    position: absolute;
    top: -2rem;
    right: 30px;
    z-index: 1;
    display: block;
    font-size: 5rem;
    color: #fff;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s;
    z-index: 110;
  }
  input[data-function*='swipe']:checked ~ label[data-function*='swipe'] {
    transform: translate3d(-210px, 0, 0);
    color: #7955ff;
  }
  input[data-function*='swipe']:checked ~ .menus {
    transform: translate3d(0px, 0px, 0px);
  }
  nav.menus {
    transform: translate3d(330px, 0px, 0px);
    position: fixed;
    width: 329px;
    right: 0;
    height: 100%;
    transition: all 0.3s;
  }
}
.logo {
  display: inline-block;
  vertical-align: middle;
  width: 25%;
}
@media (max-width: 676px) {
  .logo margin auto {
    width: 40%;
  }
}
@media (max-width: 1240px) {
  nav.apps {
    flex: 2;
    order: 3;
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  nav.apps a.nav-link,
  nav.apps anav-link:visited {
    flex: 1;
    display: block;
    font-size: 1.4rem;
    text-decoration: none;
  }
}
@media (min-width: 1240px) {
  nav.apps {
    position: absolute;
    width: 60.666%;
    top: 0;
    right: 0;
    display: inline-block;
    padding: 0.2em 3em 0.2em;
    text-align: right;
    background: #583eb9;
    clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 5% 100%);
  }
  nav.apps a.nav-link {
    position: relative;
    display: inline-block;
  }
  nav.apps a.nav-link:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 0px;
    left: 50%;
    bottom: -16px;
    background: #9176fe;
    border-radius: 10%;
    transition: all 0.3s ease-in;
  }
  nav.apps a.nav-link:hover {
    text-shadow: 0px 0px 3px rgba(240,240,240,0.8);
  }
  nav.apps a.nav-link:hover:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0;
    bottom: -16px;
    background: transparent;
    border-bottom: 6px dotted #9176fe;
    border-radius: 0%;
  }
  nav.apps .active {
    position: relative;
    font-weight: 600;
  }
  nav.apps .active:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0;
    bottom: -16px;
    background: transparent;
    border-bottom: 6px dotted #a897fe;
    border-radius: 0%;
  }
}
@media (max-width: 1240px) {
  nav.some {
    flex: 2;
    order: 4;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: flex-end;
  }
  nav.some a,
  nav.some a:visited {
    flex: 1;
    display: block;
    font-size: 1rem;
    text-decoration: none;
  }
}
@media (min-width: 1240px) {
  nav.some {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}
@media (max-width: 1240px) {
  nav.site {
    flex: 2;
    order: 2;
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  nav.site a,
  nav.site a:visited {
    flex: 1;
    display: block;
    font-size: 2rem;
    text-decoration: none;
  }
}
@media (min-width: 1240px) {
  nav.site {
    display: inline-block;
    vertical-align: middle;
    font-size: 2rem;
  }
  nav.site a {
    display: inline-block;
    padding-bottom: 0.2em;
    border-bottom: 0.3em dotted rgba(240,240,240,0);
    border-radius: 50%;
    transition: all 0.3s;
  }
  nav.site a:hover {
    text-shadow: 0px 0px 3px rgba(240,240,240,0.8);
    border-bottom: 0.3em dotted rgba(240,240,240,0.2);
    border-radius: 0%;
  }
  nav.site a.active {
    border-bottom: 0.3em dotted #f0f0f0;
    border-radius: 0%;
  }
}
@media (max-width: 1240px) {
  nav.tools {
    flex: 1;
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 2rem;
  }
  nav.tools .hex-wrapper {
    flex: 1;
  }
  nav.tools img {
    width: 20px;
    margin-right: 0em;
  }
  nav.tools .reveal,
  nav.tools .reveal-hex,
  nav.tools .hexagon {
    text-align: right;
    vertical-align: middel;
  }
  nav.tools .reveal p,
  nav.tools .reveal-hex p {
    position: relative;
    vertical-align: middel;
    right: 4rem;
    top: 2em;
    margin: 0;
    display: block;
    visibility: hidden;
    display: none;
  }
  nav.tools input {
    display: none;
  }
}
@media (min-width: 1240px) {
  nav.tools {
    float: right;
    display: inline-block;
    margin: 3rem 4rem 0 auto;
    color: #372873;
  }
  nav.tools .language span,
  nav.tools .language a {
    display: inline-block;
    width: auto;
    margin: 0 0.2em;
  }
  nav.tools .hex-wrapper {
    position: relative;
  }
  nav.tools .hex-wrapper:nth-of-type(even) {
    transform: translateX(-50px);
  }
  nav.tools .reveal {
    display: block;
    position: absolute;
    top: 0;
    color: #fff;
    transition: all 0.3s ease-in;
  }
  nav.tools .reveal .search-wrapper {
    position: relative;
    text-align: right;
    width: 320px;
    padding-left: 299px;
    overflow: hidden;
    transform: translate(-250px, 10px);
    transition: all 0.5s ease-in;
  }
  nav.tools .reveal .search-wrapper input {
    padding: 0.4em 1em;
    width: auto;
  }
  nav.tools .reveal-hex {
    display: block;
    position: absolute;
    top: 0;
    color: #fff;
    transition: all 0.3s ease-in;
  }
  nav.tools .reveal-hex .hexagon {
    position: absolute;
    top: -34px;
    background: #fff;
  }
  nav.tools .reveal-hex .hexagon p.language {
    text-align: center;
  }
  nav.tools .reveal-hex .hexagon p,
  nav.tools .reveal-hex .hexagon a,
  nav.tools .reveal-hex .hexagon a:visited {
    color: #fff;
  }
  nav.tools .reveal-hex .hexagon.blue {
    background-color: #583eb9;
  }
  nav.tools .reveal-hex .hexagon.blue:before {
    bottom: 100%;
    border-bottom: 28.87px solid #583eb9;
  }
  nav.tools .reveal-hex .hexagon.blue:after {
    top: 100%;
    width: 0;
    border-top: 28.87px solid #583eb9 !important;
  }
  nav.tools .hex-wrapper:hover > .reveal {
    transform: translateX(-75px);
  }
  nav.tools .hex-wrapper:hover .search-wrapper {
    padding-left: 0px;
  }
  nav.tools .hex-wrapper:hover .search-wrapper input {
    width: auto;
  }
  nav.tools .hexagon {
    position: relative;
    width: 100px;
    height: 57.74px;
    background-color: #fff;
    margin: 35px 0;
    transition: all 0.3s;
  }
  nav.tools .hexagon:hover {
    cursor: pointer;
  }
  nav.tools .hexagon img {
    position: absolute;
    width: 50%;
    top: 5%;
    left: 25%;
  }
  nav.tools .hexagon:before {
    bottom: 100%;
    border-bottom: 28.87px solid #fff;
  }
  nav.tools .hexagon:after {
    top: 100%;
    width: 0;
    border-top: 28.87px solid #fff;
  }
  nav.tools .hexagon:before,
  nav.tools .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
  }
  nav.tools .flip-box {
    background-color: transparent;
    width: 100px;
    height: 57.74px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  nav.tools .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-origin: -3px;
    transition: transform 0.8s;
    transition-delay: 0.2s;
    transform-style: preserve-3d;
  }
  nav.tools .hex-wrapper:hover .flip-box-inner {
    transform: rotateY(-180deg);
  }
  nav.tools .flip-box-front,
  nav.tools .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  nav.tools .flip-box-front {
    background-color: #bbb;
    color: #000;
  }
  nav.tools .flip-box-back {
    background-color: #1e90ff;
    color: #fff;
    transform: rotateY(180deg);
  }
}
footer .sitemap ul {
  margin-left: 0;
  padding-left: 0;
}
footer .sitemap ul li {
  padding: 0;
  margin-bottom: 0;
}
footer .sitemap ul li .nav-link {
  padding: 0.2em 0;
}
