@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
.hero {
  display: block;
  width: 900px;
  margin: 259.8075px 10vw 0 -10vw;
}
.hero #herohex {
  width: 450px;
  height: 450px;
  transform: translate(50%, -28.6%);
  z-index: 10;
}
.hero #herohex .hex-content {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/15581/radio-1948002_640.jpg");
  background-position: right;
}
.hero .featured-news {
  width: 450px;
  height: 450px;
}
.hero .hexagon-wrapper {
  text-align: center;
  position: relative;
  display: inline-block;
}
.hero .hex-bg {
  height: calc(100% * 0.57735);
  width: 100%;
  display: inline-block;
  z-index: 9;
}
.hero .hex-bg:before,
.hero .hex-bg:after {
  position: absolute;
  top: 0;
  right: 0%;
  height: inherit;
  width: inherit;
  content: '';
  transform: rotateZ(60deg);
  z-index: -1;
}
.hero .hex-bg:after {
  left: 0;
  transform: rotateZ(-60deg);
}
.hero .hex-bg,
.hero .hex-bg:before,
.hero .hex-bg:after {
  background-color: transparent;
}
.hero .hex-shadow .hex-bg,
.hero .hex-shadow .hex-bg:before,
.hero .hex-shadow .hex-bg:after {
  font-size: 1rem;
  box-shadow: 0px 0px 4em 0em rgba(0,0,0,0.3);
}
.hero .hex-content {
  position: absolute;
  top: -129.903975px;
  left: 0;
  width: 450px;
  height: 519.61545px;
  padding: calc(100% * 0.57735 / 2) 1em 0 calc(50% + 1em);
  box-sizing: border-box;
  text-align: left;
  color: #fff;
  background-color: #48368f;
  background: linear-gradient(45deg, rgba(121,85,255,0.65) 0%, rgba(121,85,255,0.65) 1%, #48368f 100%);
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: url("#hex-clip");
  z-index: 1;
}
.hero h1 {
  margin: 0 0 0 -1rem;
  color: #fff;
  font-size: 1.75rem;
  line-height: 1.2;
}
.hero h2 {
  margin-top: 0;
  font-size: 1.6rem;
  color: #fff;
}
.hero .meta {
  font-size: 70%;
  margin-bottom: 0.2em;
}
.hero .meta .type,
.hero .meta .date {
  color: #fff;
  margin: 0 0.2em;
  font-weight: 400;
}
.hero .meta .icon {
  margin-right: 0.4em;
  font-size: 0.8rem;
}
.hero .meta .icon.icon-blog svg path {
  color: #00c6ff;
}
.hero .meta .icon.icon-news svg path {
  color: #fb634d;
}
.hero .meta .icon.icon-article svg path {
  color: #f7c500;
}
.hero .title-excerpt {
  padding-bottom: 0.4em;
  border-bottom: 1px dotted #fff;
  font-size: 1rem;
  color: #fff;
  font-weight: 300;
}
.hero a.go-to-link {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
}
