@require 'variables.styl'
@require 'colors.styl'

#___gatsby .hex-blurb

  .content-wrapper
    // padding-top 115.4701% // 100%
    // // background white
    // -webkit-clip-path polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
    // clip-path url("#hex-clip") 
  .content
    // position absolute
    // top 0
    // left 0
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // text-align center
    // *
    //   color $color__main
  
