$content-width = 960px

#___gatsby, #___gatsby .page-content
  header.wrapper, .page-content
    width auto
    max-width $content-width
    margin 0 auto
    padding 2rem
    @media (max-width $content-width)
      margin 0 1rem
      
  .page-content
    min-height 55vh
    // redo calc(100vh - header - footer)
    @media (max-width $content-width)
      padding 1rem 0
    
  footer.page-footer
    max-width $content-width * 1.25
    margin 0 auto
    padding 0
    
  // .container.row 
  //   margin 1rem 0  
  //   padding 1rem 
  // .container 
  //   padding 2rem 
    
  /*section:not(.page-content) 
    // margin-top 4rem
    // margin-top 6vw
    // margin-bottom 4rem
    // margin-bottom 6vw
    padding-top 2rem
    padding-top 3vw
    padding-bottom 2rem
    padding-bottom 3vw*/