$content-width = 960px

header, .page-content
  max-width $content-width
  margin 0 auto
  padding 0
  @media (max-width $content-width)
    margin 0 1rem
  
footer
  max-width $content-width * 1.25
  margin 0 auto
  padding 0
  
/*section:not(.page-content) 
  // margin-top 4rem
  // margin-top 6vw
  // margin-bottom 4rem
  // margin-bottom 6vw
  padding-top 2rem
  padding-top 3vw
  padding-bottom 2rem
  padding-bottom 3vw*/