@require 'variables.styl'
// Typography
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700')
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700')
// $base-font-size = 62.5%
// *=10px in most browsers, if user haven't changed font-settings
$base-font-size = 100%
html 
  font-size $base-font-size 
body 
  font-family 'Fira Sans', sans-serif 
  line-height 1.125em
  p, h1, h2, h3, h4, h5, h6
    margin-bottom 0.5em

  h1, h2, h3, h4, h5, h6
    line-height 1.05em

  p
    font-weight 400
    font-size 16px
    line-height 1.125em

  h1
    font-weight 400
    font-size 63px
    letter-spacing 0.01em

  h2
    font-weight 400
    font-size 42px
    letter-spacing 0.01em

  h3
    font-weight 300
    font-size 32px
    letter-spacing 0.02em

  h4
    font-weight 300
    font-size 30px
    letter-spacing 0.02em

  h5
    font-weight 300
    font-size 27px
    letter-spacing 0.03em

  h6
    font-weight 300
    font-size 24px
    letter-spacing 0.03em

  @media only screen and (max-width: 1000px)
    p
        font-size 2.7vw
    h1
        font-size 6.3vw
    h2
        font-size 4.8vw
    h3
        font-size 3.6vw
    h4
        font-size 3.0vw
    h5
        font-size 2.7vw
    h6
        font-size 2.4vw

  @media only screen and (max-width: 667px)
    p
        font-size 18px
    h1
        font-size 42px
    h2
        font-size 36px
    h3
        font-size 24px
    h4
        font-size 20px
    h5
        font-size 18px
    h6
        font-size 16px

  @media only screen and (max-width: 640px)
    p
        font-size 15px
    h1
        font-size 34px
    h2
        font-size 29px
    h3
        font-size 19px
    h4
        font-size 16px
    h5
        font-size 15px
    h6
        font-size 13px