@require 'colors.styl'

.btn-primary, [class$=primary]
  background-color color__main--darkest !important
  border-color color__main--dark !important
  &:hover
    background-color color__main--dark !important
    border-color color__main--dark !important
  &:focus
    background-color color__main--dark !important
    border-color color__main--dark !important
    box-shadow 0 0 0 0.2rem color__main--darkest !important
  &:active
    box-shadow 0 0 0 0.2rem color__main--darkest !important

.navbar-collapse
  .activedropdown
    position relative
    a:link
      display inline-block
    .dropdown-menu.show 
      top 2rem
      background-color color__main--lightest
      ul
        margin-left 0.4rem
        list-style none
    