#___gatsby
  .card
    margin 1rem 0.5rem 1rem 0
    width 100%
    border-width 1rem 
    border-style solid
    border-radius 0
    .card-header
      border-radius 0
    .card-body
      border-radius 0
    .card-footer
      border-radius 0
  
    