@require 'variables.styl'
@require 'colors.styl'

#___gatsby, #___gatsby .page-content
  pre
    background #333
    color white
    code, code span
      background transparent
      color white
      font-size 20px
      font-weight 400
  code
    display inline-block
    padding 0em 0.6em
    margin 0 0.2em
    // font-style italic
    background $color__main--medium
    color white
    font-weight 400
    letter-spacing 1px