body {
  background-color: #a897fe;
  background-image: url("./platformoftrust-bgtesti-v2-2019-03-21.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #f0f0f0;
}
#___gatsby a:link {
  color: #f0f0f0;
}
#___gatsby a:visited {
  color: #d8d8d8;
}
#___gatsby a:hover {
  color: #d8d8d8;
}
#___gatsby a:active {
  color: #c0c0c0;
}
#___gatsby pre,
#___gatsby code {
  background: #333;
  color: #fff;
}
#___gatsby header {
  background: transparent;
}
@media (max-width: 820px) {
  #___gatsby header .menus {
    color: #7955ff;
  }
  #___gatsby header .menus a.nav-link {
    color: #7955ff;
  }
}
#___gatsby .jumbotron {
  background-color: rgba(121,85,255,0.4) !important;
}
#___gatsby .page-content {
  background-color: #f0f0f0;
}
#___gatsby .page-content * {
  color: #141414;
}
#___gatsby .page-content h1 {
  color: #7955ff;
}
#___gatsby .page-content a:link {
  color: #7955ff;
}
#___gatsby .page-content a:visited {
  color: #583eb9;
}
#___gatsby .page-content a:hover {
  color: #583eb9;
}
#___gatsby .page-content a:active {
  color: #583eb9;
}
#___gatsby footer {
  background-color: #372873;
  background-color: rgba(55,40,115,0.6);
}
#___gatsby .menu-footer {
  background-color: #372873;
}
#___gatsby .card {
  border-color: #7955ff;
}
#___gatsby .card * {
  color: #f0f0f0;
}
#___gatsby .card .card-header {
  background-color: #7955ff;
}
#___gatsby .card .card-body {
  background-color: $helpers--light;
}
#___gatsby .card .card-body p {
  color: #372873;
}
#___gatsby .card .card-footer {
  background-color: #9176fe;
}
#___gatsby .card .card-footer a:link {
  color: #141414;
}
#___gatsby .card .card-footer a:visited {
  color: #2c2c2c;
}
#___gatsby .card .card-footer a:hover {
  color: #2c2c2c;
}
#___gatsby .card .card-footer a:active {
  color: #434343;
}
#___gatsby .btn-primary,
#___gatsby [class$=primary] {
  background-color: #372873 !important;
  border-color: #583eb9 !important;
  color: #f0f0f0;
}
#___gatsby .btn-primary:hover,
#___gatsby [class$=primary]:hover {
  background-color: #583eb9 !important;
  border-color: #583eb9 !important;
}
#___gatsby .btn-primary:focus,
#___gatsby [class$=primary]:focus {
  background-color: #583eb9 !important;
  border-color: #583eb9 !important;
  box-shadow: 0 0 0 0.2rem #372873 !important;
}
#___gatsby .btn-primary:active,
#___gatsby [class$=primary]:active {
  box-shadow: 0 0 0 0.2rem #372873 !important;
}
#___gatsby .navbar-collapse .activedropdown {
  position: relative;
}
#___gatsby .navbar-collapse .activedropdown a:link {
  display: inline-block;
}
#___gatsby .navbar-collapse .activedropdown .dropdown-menu.show {
  top: 2rem;
  background-color: #a897fe;
}
#___gatsby .navbar-collapse .activedropdown .dropdown-menu.show ul {
  margin-left: 0.4rem;
  list-style: none;
}
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700");
html {
  font-size: 100%;
}
body {
  font-family: 'Fira Sans', sans-serif;
}
#___gatsby {
  h3: , h4, h5, h6, margin-top 0.5em;
/* SHARED PROPERTIES */
/* SPECIFIC PROPERTIES */
}
#___gatsby * {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  line-height: 1.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#___gatsby h1 {
  margin-top: 1.2em;
  margin-bottom: 10px;
  font-size: 42px;
  font-weight: 400;
  line-height: 44px;
}
#___gatsby h2 {
  margin-top: 1em;
}
#___gatsby p {
  font-size: 20px;
  font-weight: 400;
  line-height: 22.6px;
}
#___gatsby code {
  font-family: 'Fira Mono', Courier, monospace;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.9;
}
#___gatsby li {
  font-size: 20px;
  font-weight: 400;
  line-height: 22.6px;
}
#___gatsby strong {
  font-weight: 600;
}
#___gatsby p,
#___gatsby h1,
#___gatsby h2,
#___gatsby h3,
#___gatsby h4,
#___gatsby h5,
#___gatsby h6 {
  margin-bottom: 0.5em;
}
#___gatsby h1,
#___gatsby h2,
#___gatsby h3,
#___gatsby h4,
#___gatsby h5,
#___gatsby h6 {
  line-height: 1.05em;
}
#___gatsby p {
  font-weight: 400;
  font-size: 27px;
  line-height: 1.125em;
  color: #141414;
}
#___gatsby li {
  font-weight: 400;
  font-size: 27px;
  line-height: 1.125em;
  color: #141414;
}
#___gatsby code {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.9em;
  letter-spacing: 1px;
}
#___gatsby h1 {
  font-weight: 400;
  font-size: 63px;
  line-height: 1.125em;
  letter-spacing: 0.01em;
}
#___gatsby h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 1.125em;
  letter-spacing: 0.01em;
}
#___gatsby h3 {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.125em;
  letter-spacing: 0.02em;
}
#___gatsby h4 {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.125em;
  letter-spacing: 0.02em;
}
#___gatsby h5 {
  font-weight: 600;
  font-size: 27px;
  line-height: 1.125em;
  letter-spacing: 0.03em;
}
#___gatsby h6 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.125em;
  letter-spacing: 0.03em;
}
#___gatsby .megaheadline {
  font-weight: 200;
  font-size: 108px;
  line-height: 0.95em;
}
.post-meta {
  font-weight: 400;
  font-size: 15px;
  line-height: 1em;
  color: #7955ff;
  margin-bottom: 1em;
}
.blockquote {
  font-weight: 400;
  font-style: italic;
  font-size: 27px;
  line-height: 1.125em;
}
@media only screen and (max-width: 1000px) {
  p,
  li {
    font-size: 2.7vw;
  }
  h1 {
    font-size: 6.3vw;
  }
  h2 {
    font-size: 4.8vw;
  }
  h3 {
    font-size: 3.6vw;
  }
  h4 {
    font-size: 3vw;
  }
  h5 {
    font-size: 2.7vw;
  }
  h6 {
    font-size: 2.4vw;
  }
  .megaheadline {
    font-size: 10.8vw;
  }
  .blockquote {
    font-size: 2.7vw;
  }
}
@media only screen and (max-width: 667px) {
  p,
  li {
    font-size: 18px;
  }
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 16px;
  }
  .megaheadline {
    font-size: 72px;
  }
  .blockquote {
    font-size: 18px;
  }
}
@media only screen and (max-width: 640px) {
  p,
  li {
    font-size: 15px;
  }
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 29px;
  }
  h3 {
    font-size: 19px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 15px;
  }
  h6 {
    font-size: 13px;
  }
  .megaheadline {
    font-size: 58px;
  }
  .blockquote {
    font-size: 15px;
  }
}
footer a:link {
  text-decoration: underline;
}
@media (max-width: 820px) {
  footer h5,
  footer p,
  footer a:link {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
  }
}
.logo__header {
  width: 15rem;
  margin-bottom: 0;
}
@media (max-width) {
  .logo__header {
    max-width: 40vw;
  }
}
header,
.page-content {
  width: auto;
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}
@media (max-width: 960px) {
  header,
  .page-content {
    margin: 0 1rem;
  }
}
footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
.jumbotron {
  padding: 8rem 0;
}
#___gatsby .card {
  margin: 1rem;
  width: 100%;
  border-width: 0.8rem;
  border-style: solid;
  border-radius: 0;
}
#___gatsby .card .card-header {
  border-radius: 0;
}
#___gatsby .card .card-header h3 {
  font-size: 1rem;
}
#___gatsby .card .card-body {
  border-radius: 0;
}
#___gatsby .card .card-footer {
  border-radius: 0;
}
@media (min-width: 576px) {
  #___gatsby .card {
    margin: 1rem 0rem 1rem 0;
  }
}
@media (max-width: 1214px) {
  #___gatsby .footer-logo,
  footer .footer-logo {
    width: 80%;
  }
  #___gatsby .footer-logo img.logo__footer,
  footer .footer-logo img.logo__footer {
    margin: -1rem 0 -1rem -3rem;
  }
  #___gatsby .footer-contact,
  footer .footer-contact {
    width: 80%;
    text-align: left;
    padding: 0 0 2rem 2rem;
  }
}
@media (max-width: 767px) {
  #___gatsby .footer-somelinks,
  footer .footer-somelinks {
    position: absolute;
    width: 20%;
    right: 0;
  }
  #___gatsby nav.some-links,
  footer nav.some-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
@media (min-width: 1214px) {
  #___gatsby,
  footer {
    clip-path: url("#clipPathSVG");
  }
  #___gatsby .footer-logo,
  footer .footer-logo {
    margin-top: -1rem;
  }
}
footer .some-link {
  display: inline-block;
  width: 32px;
  margin-right: 0.4rem;
}
footer .some-link img {
  margin-bottom: 0.4rem;
}
footer .some-link .some-icon {
  width: 100%;
}
@media (min-width: 820px) {
  #___gatsby header.wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  #___gatsby nav.menus {
    flex: 2;
    display: flex;
    align-items: center;
  }
  #___gatsby input[data-function*='swipe'],
  #___gatsby label[data-function*='swipe'] {
    display: none;
  }
}
@media (max-width: 819px) {
  #___gatsby header.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-top: 36px;
  }
  #___gatsby nav.menus {
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: #fff;
    z-index: 100;
  }
  #___gatsby input[data-function*='swipe'] {
    position: absolute;
    opacity: 0;
  }
  #___gatsby label[data-function*='swipe'] {
    position: fixed;
    top: 2rem;
    left: 0;
    z-index: 1;
    display: block;
    font-size: 3rem;
    cursor: pointer;
    transform: translateX(calc(100vw - 34px)) rotate(90deg);
    transition: transform 0.3s;
    z-index: 110;
  }
  #___gatsby input[data-function*='swipe']:checked ~ label[data-function*='swipe'] {
    position: fixed;
    color: #7955ff;
    transform: translateX(calc(10vw + 32px));
  }
  #___gatsby input[data-function*='swipe']:checked ~ .menus {
    transform: translate3d(0%, 0px, 0px);
    box-shadow: -1.5rem 0 1.5rem 0 rgba(0,0,0,0.4);
  }
  #___gatsby nav.menus {
    transform: translate3d(102%, 0px, 0px);
    position: fixed;
    width: 90%;
    top: 0;
    left: 0;
    margin-left: 10%;
    height: 100%;
    transition: all 0.3s;
  }
}
#___gatsby .logo {
  display: inline-block;
  vertical-align: middle;
  width: 25%;
  margin: auto;
}
@media (max-width: 676px) {
  #___gatsby .logo {
    width: 47%;
    margin-top: -1rem;
    margin-left: -1rem;
  }
}
@media (max-width: 819px) {
  #___gatsby nav.apps {
    flex: 4;
    order: 3;
    padding: 1rem;
    padding-top: 110px;
  }
  #___gatsby nav.apps a.nav-link,
  #___gatsby nav.apps a.nav-link:visited {
    flex: 1;
    display: block;
    font-size: 1.4rem;
    text-decoration: none;
  }
}
@media (min-width: 820px) {
  #___gatsby nav.apps {
    position: absolute;
    width: 60.666%;
    top: 0;
    right: 0;
    display: inline-block;
    padding: 0.2em 3em 0.2em;
    text-align: right;
    background: #583eb9;
    clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 5% 100%);
  }
  #___gatsby nav.apps a.nav-link {
    position: relative;
    display: inline-block;
  }
  #___gatsby nav.apps a.nav-link:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 0px;
    left: 50%;
    bottom: -16px;
    background: #9176fe;
    border-radius: 10%;
    transition: all 0.3s ease-in;
  }
  #___gatsby nav.apps a.nav-link:hover {
    text-shadow: 0px 0px 2px rgba(240,240,240,0.4);
  }
  #___gatsby nav.apps a.nav-link:hover:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0;
    bottom: -16px;
    background: transparent;
    border-bottom: 6px dotted #9176fe;
    border-radius: 0%;
  }
  #___gatsby nav.apps .active {
    position: relative;
    font-weight: 600;
  }
  #___gatsby nav.apps .active:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0;
    bottom: -16px;
    background: transparent;
    border-bottom: 6px dotted #a897fe;
    border-radius: 0%;
  }
}
@media (max-width: 819px) {
  #___gatsby nav.some {
    flex: 2;
    order: 4;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: flex-end;
  }
  #___gatsby nav.some a,
  #___gatsby nav.some a:visited {
    flex: 1;
    display: block;
    font-size: 1rem;
    text-decoration: none;
  }
}
@media (min-width: 820px) {
  #___gatsby nav.some {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}
@media (max-width: 819px) {
  #___gatsby nav.site {
    flex: 2;
    order: 2;
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  #___gatsby nav.site a,
  #___gatsby nav.site a:visited {
    flex: 1;
    display: block;
    font-size: 2rem;
    text-decoration: none;
  }
}
@media (min-width: 820px) {
  #___gatsby nav.site {
    display: inline-block;
    vertical-align: middle;
    font-size: 2rem;
  }
  #___gatsby nav.site a {
    display: inline-block;
    padding-bottom: 0.2em;
    border-bottom: 0.3em dotted rgba(240,240,240,0);
    border-radius: 50%;
    transition: all 0.3s;
  }
  #___gatsby nav.site a:hover {
    text-shadow: 0px 0px 3px rgba(240,240,240,0.8);
    border-bottom: 0.3em dotted rgba(240,240,240,0.2);
    border-radius: 0%;
  }
  #___gatsby nav.site a.active {
    border-bottom: 0.3em dotted #f0f0f0;
    border-radius: 0%;
  }
}
@media (max-width: 819px) {
  #___gatsby nav.tools {
    flex: 1;
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 2rem;
  }
  #___gatsby nav.tools .hex-wrapper {
    flex: 1;
  }
  #___gatsby nav.tools img {
    width: 20px;
    margin-right: 0em;
  }
  #___gatsby nav.tools .reveal,
  #___gatsby nav.tools .reveal-hex,
  #___gatsby nav.tools .hexagon {
    text-align: right;
    vertical-align: middel;
  }
  #___gatsby nav.tools .reveal p,
  #___gatsby nav.tools .reveal-hex p {
    position: relative;
    vertical-align: middel;
    right: 4rem;
    top: 2em;
    margin: 0;
    display: block;
    visibility: hidden;
    display: none;
  }
  #___gatsby nav.tools input {
    display: none;
  }
}
@media (min-width: 820px) {
  #___gatsby nav.tools {
    float: right;
    display: inline-block;
    margin: 3rem 4rem 0 auto;
    color: #372873;
  }
  #___gatsby nav.tools .language span,
  #___gatsby nav.tools .language a {
    display: inline-block;
    width: auto;
    margin: 0 0.2em;
  }
  #___gatsby nav.tools .hex-wrapper {
    position: relative;
  }
  #___gatsby nav.tools .hex-wrapper:nth-of-type(even) {
    transform: translateX(-50px);
  }
  #___gatsby nav.tools .reveal {
    display: block;
    position: absolute;
    top: 0;
    color: #fff;
    transition: all 0.3s ease-in;
  }
  #___gatsby nav.tools .reveal .search-wrapper {
    position: relative;
    text-align: right;
    width: 320px;
    padding-left: 299px;
    overflow: hidden;
    transform: translate(-250px, 10px);
    transition: all 0.5s ease-in;
  }
  #___gatsby nav.tools .reveal .search-wrapper input {
    padding: 0.4em 1em;
    width: auto;
  }
  #___gatsby nav.tools .reveal-hex {
    display: block;
    position: absolute;
    top: 0;
    color: #fff;
    transition: all 0.3s ease-in;
  }
  #___gatsby nav.tools .reveal-hex .hexagon {
    position: absolute;
    top: -34px;
    background: #fff;
  }
  #___gatsby nav.tools .reveal-hex .hexagon p.language {
    text-align: center;
  }
  #___gatsby nav.tools .reveal-hex .hexagon p,
  #___gatsby nav.tools .reveal-hex .hexagon a,
  #___gatsby nav.tools .reveal-hex .hexagon a:visited {
    color: #fff;
  }
  #___gatsby nav.tools .reveal-hex .hexagon.blue {
    background-color: #583eb9;
  }
  #___gatsby nav.tools .reveal-hex .hexagon.blue:before {
    bottom: 100%;
    border-bottom: 28.87px solid #583eb9;
  }
  #___gatsby nav.tools .reveal-hex .hexagon.blue:after {
    top: 100%;
    width: 0;
    border-top: 28.87px solid #583eb9 !important;
  }
  #___gatsby nav.tools .hex-wrapper:hover > .reveal {
    transform: translateX(-75px);
  }
  #___gatsby nav.tools .hex-wrapper:hover .search-wrapper {
    padding-left: 0px;
  }
  #___gatsby nav.tools .hex-wrapper:hover .search-wrapper input {
    width: auto;
  }
  #___gatsby nav.tools .hexagon {
    position: relative;
    width: 100px;
    height: 57.74px;
    background-color: #fff;
    margin: 35px 0;
    transition: all 0.3s;
  }
  #___gatsby nav.tools .hexagon:hover {
    cursor: pointer;
  }
  #___gatsby nav.tools .hexagon img {
    position: absolute;
    width: 50%;
    top: 5%;
    left: 25%;
  }
  #___gatsby nav.tools .hexagon:before {
    bottom: 100%;
    border-bottom: 28.87px solid #fff;
  }
  #___gatsby nav.tools .hexagon:after {
    top: 100%;
    width: 0;
    border-top: 28.87px solid #fff;
  }
  #___gatsby nav.tools .hexagon:before,
  #___gatsby nav.tools .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
  }
  #___gatsby nav.tools .flip-box {
    background-color: transparent;
    width: 100px;
    height: 57.74px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  #___gatsby nav.tools .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-origin: -3px;
    transition: transform 0.8s;
    transition-delay: 0.2s;
    transform-style: preserve-3d;
  }
  #___gatsby nav.tools .hex-wrapper:hover .flip-box-inner {
    transform: rotateY(-180deg);
  }
  #___gatsby nav.tools .flip-box-front,
  #___gatsby nav.tools .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  #___gatsby nav.tools .flip-box-front {
    background-color: #bbb;
    color: #000;
  }
  #___gatsby nav.tools .flip-box-back {
    background-color: #1e90ff;
    color: #fff;
    transform: rotateY(180deg);
  }
}
#___gatsby .menu-footer {
  flex: 1;
  order: 5;
}
@media (min-width: 820px) {
  #___gatsby .menu-footer {
    display: none;
  }
}
#___gatsby footer .sitemap ul {
  margin-left: 0;
  padding-left: 0;
}
#___gatsby footer .sitemap ul li {
  padding: 0;
  margin-bottom: 0;
}
#___gatsby footer .sitemap ul li .nav-link {
  padding: 0.2em 0;
}
#___gatsby pre,
#___gatsby .page-content pre {
  background: #333;
  color: #fff;
}
#___gatsby pre code,
#___gatsby .page-content pre code {
  background: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
#___gatsby code,
#___gatsby .page-content code {
  display: inline-block;
  padding: 0.2em 0.4em;
  margin: 0 0.2em;
  background: #7955ff;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
}
