header,
.page-content {
  width: auto;
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}
@media (max-width: 960px) {
  header,
  .page-content {
    margin: 0 1rem;
  }
}
footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
.container.row {
  margin: 1rem 0;
  padding: 1rem;
}
.container {
  padding: 2rem;
}
/*section:not(.page-content) 
  // margin-top 4rem
  // margin-top 6vw
  // margin-bottom 4rem
  // margin-bottom 6vw
  padding-top 2rem
  padding-top 3vw
  padding-bottom 2rem
  padding-bottom 3vw*/
